.center {
    text-align: center;
}

.small {
    font-size: smaller;
}

.full-width {
    width: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    #table-invoice {
        font-size: 10px;
    }

    .overflow {
        overflow: scroll;
    }
} 