footer {
    margin-top: 2em;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

.footer{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    /* Pantallas pequeñas */
    @media screen and (max-width: 480px) {
        font-size: 9px;
    }
}

.img-logo {
    width: 120px;

    /* Pantallas pequeñas */
    @media screen and (max-width: 480px) {
        width: 80px;
    }
}